<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/shop.css">
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">商店</p>
    <a></a>
</header>
<nav>
    <div class="wine">
        <span>酒水</span>
        <span>20</span>
    </div>
    <div class="snake">零食</div>
</nav>
<div class="wrapper">
    <ul class="scroll">
        <li data="arr[i]">
            <div class="thumb">
                <img src="/php/ktv/Public/img/sd3.png" alt="">
            </div>
            <ul class="data">
                <li class="title">
                    <span class="sname">啤酒</span>
                    <div class="hot">
                        <img src="/php/ktv/Public/img/sd20.png" alt="">
                    </div>
                </li>
                <li class="price">
                    <span>￥</span>
                    <span class="pricenum">10</span>
                    <span>/瓶</span>
                </li>
                <li class="option">
                    <span class="reduce"></span>
                    <span class="count"></span>
                    <span class="plus"></span>
                </li>
            </ul>
        </li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>